<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Weather Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/styles.css') }}" />
    <script src="static/js/script.js" defer></script>
  </head>
  <body>
    <section class="container">
      <div class="info">

        <h1>Buscar por...</h1>

        <select id="menu" onchange="saveElection()">
          <option value="cityInput">Nombre de la ciudad</option>
          <option value="IATA_codeInput">Código IATA</option>
          <option value="flight_numberInput">Número de vuelo</option>
        </select>

        <!-- Formulario para ingresar datos -->
        <form class="input" method="POST" action="/">
          <div id="cityInput" class="content">
          <label for="city">Ciudad:</label>
          <input type="text" id="city" name="city" placeholder="Ej. Ciudad de México" />
          </div>

          <div id="IATA_codeInput" class="content">
          <label for="iata_code">Código IATA:</label>
          <input type="text" id="iata_code" name="iata_code" placeholder="Ej. JFK" />
          </div>

          <div id="flight_numberInput" class="content">
          <label for="flight_number">Número de vuelo:</label>
          <input type="text" id="flight_number" name="flight_number" placeholder="Ej. AA123" />
          </div>

          <button type="submit">Obtener clima</button>
        </form>
      </div>
      
      <!-- Verifica si se ha recibido la información del clima -->
      <div class="cards">
      {% if weather_data.city %}
        <div class="card weather-card">
          <h2 class="city-name">Ciudad: {{ weather_data.city['name'] }}</h2>
          <h1 class="temperature">{{ weather_data.city['main']['temp'] }}°C</h1>
          <div class="weather-info">
            <img
              class="weather-icon"
              src="https://img.icons8.com/3d-fluency/94/storm.png"
              alt="Weather Icon"
            />
            <p class="weather-description">{{ weather_data.city['weather'][0]['description'] | capitalize }}</p>
          </div>
          <div class="stats">
            <article class="stat">
              <img class="stat-icon" src="{{ url_for('static', filename='svg/humedad.svg') }}" alt="IMG-Humedad" />
              <p class="stat-value">{{ weather_data.city['main']['humidity'] }}%</p>
              <p class="stat-label">Humedad</p>
            </article>
            <article class="stat">
              <img class="stat-icon" src="{{ url_for('static', filename='svg/viento.svg') }}" alt="IMG-Viento" />
              <p class="stat-value">{{ weather_data.city['wind']['speed'] }} m/s</p>
              <p class="stat-label">Velocidad de viento</p>
            </article>
          </div>
        </div>
      {% elif weather_data.departure and weather_data.arrival %}
        <div class="card weather-card">
          <h2 class="city-name">Ciudad de salida: {{ weather_data.departure['name'] }}</h2>
          <h1 class="temperature">{{ weather_data.departure['main']['temp'] }}°C</h1>
          <div class="weather-info">
            <img
              class="weather-icon"
              src="https://img.icons8.com/3d-fluency/94/storm.png"
              alt="Weather Icon"
            />
            <p class="weather-description">{{ weather_data.departure['weather'][0]['description'] | capitalize }}</p>
          </div>
          <div class="stats">
            <article class="stat">
              <img class="stat-icon" src="{{ url_for('static', filename='svg/humedad.svg') }}" alt="IMG-Humedad" />
              <p class="stat-value">{{ weather_data.departure['main']['humidity'] }}%</p>
              <p class="stat-label">Humedad</p>
            </article>
            <article class="stat">
              <img class="stat-icon" src="{{ url_for('static', filename='svg/viento.svg') }}" alt="IMG-Viento" />
              <p class="stat-value">{{ weather_data.departure['wind']['speed'] }} m/s</p>
              <p class="stat-label">Velocidad de viento</p>
            </article>
          </div>
        </div>

        <div class="card weather-card">
          <h2 class="city-name">Ciudad de llegada: {{ weather_data.arrival['name'] }}</h2>
          <h1 class="temperature">{{ weather_data.arrival['main']['temp'] }}°C</h1>
          <div class="weather-info">
            <img
              class="weather-icon"
              src="https://img.icons8.com/3d-fluency/94/storm.png"
              alt="Weather Icon"
            />
            <p class="weather-description">{{ weather_data.arrival['weather'][0]['description'] | capitalize }}</p>
          </div>
          <div class="stats">
            <article class="stat">
              <img class="stat-icon" src="{{ url_for('static', filename='svg/humedad.svg') }}" alt="IMG-Humedad" />
              <p class="stat-value">{{ weather_data.arrival['main']['humidity'] }}%</p>
              <p class="stat-label">Humedad</p>
            </article>
            <article class="stat">
              <img class="stat-icon" src="{{ url_for('static', filename='svg/viento.svg') }}" alt="IMG-Viento" />
              <p class="stat-value">{{ weather_data.arrival['wind']['speed'] }} m/s</p>
              <p class="stat-label">Velocidad de viento</p>
            </article>
          </div>
        </div>
      {% else %} 
      <div class="card weather-card">
        <h1>Esperando datos... </h1>
        <h2 class="temperature">¿?°C</h2>
        <div class="weather-info">
          <img
            class="weather-icon"
            src="{{ url_for('static', filename='svg/bx-time-five.svg') }}"
            alt="Weather Icon"
          />
          <p class="weather-description"></p>
        </div>
        <div class="stats">
          <article class="stat">
            <img class="stat-icon" src="{{ url_for('static', filename='svg/humedad.svg') }}" alt="IMG-Humedad" />
            <p class="stat-value">¿?%</p>
            <p class="stat-label">Humedad</p>
          </article>
          <article class="stat">
            <img class="stat-icon" src="{{ url_for('static', filename='svg/viento.svg') }}" alt="IMG-Viento" />
            <p class="stat-value">¿? m/s</p>
            <p class="stat-label">
              Velocidad <br />
              de viento
            </p>
          </article>
          <article class="stat">
            <p class="stat-value">¿? m/s</p>
            <p class="stat-label">otra</p>
          </article>
        </div>
      </div>
      <div class="card weather-card">
        <h1>Esperando datos... </h1>
        <h2 class="temperature">¿?°C</h2>
        <div class="weather-info">
          <img
            class="weather-icon"
            src="{{ url_for('static', filename='svg/bx-time-five.svg') }}"
            alt="Weather Icon"
          />
          <p class="weather-description"></p>
        </div>
        <div class="stats">
          <article class="stat">
            <img class="stat-icon" src="{{ url_for('static', filename='svg/humedad.svg') }}" alt="IMG-Humedad" />
            <p class="stat-value">¿?%</p>
            <p class="stat-label">Humedad</p>
          </article>
          <article class="stat">
            <img class="stat-icon" src="{{ url_for('static', filename='svg/viento.svg') }}" alt="IMG-Viento" />
            <p class="stat-value">¿? m/s</p>
            <p class="stat-label">
              Velocidad <br />
              de viento
            </p>
          </article>
          <article class="stat">
            <p class="stat-value">¿? m/s</p>
            <p class="stat-label">otra</p>
          </article>
        </div>
      </div>
    </div>
      {% endif %}

      {% if weather_data.error %}
        <p class="error">{{ weather_data.error }}</p>
      {% endif %}
    </section>
  </body>
</html>
