<!DOCTYPE html>
<html lang="es">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Weather Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/styles.css') }}" />
  </head>
  <body>
    <section class="container">
      <div class="text_box">
        <h1>Ingresa tu destino:</h1>
        <input type="text" name="destiny" placeholder="Escribe aquí">
      </div>
      <div class = "information">
        <div class="card weather-card">
          <h1>Ciudad de salida: </h1>
          <h2 class="temperature">23°C</h2>
          <div class="weather-info">
            <img
              class="weather-icon"
              src="https://img.icons8.com/3d-fluency/94/storm.png"
              alt="Weather Icon"
            />
            <p class="weather-description">STORMY</p>
          </div>
          <div class="stats">
            <article class="stat">
              <img class="stat-icon" src="{{ url_for('static', filename='svg/humedad.svg') }}" alt="IMG-Humedad" />
              <p class="stat-value">80%</p>
              <p class="stat-label">Humedad</p>
            </article>
            <article class="stat">
              <img class="stat-icon" src="{{ url_for('static', filename='svg/viento.svg') }}" alt="IMG-Viento" />
              <p class="stat-value">5 m/s</p>
              <p class="stat-label">
                Velocidad <br />
                de viento
              </p>
            </article>
            <article class="stat">
              <p class="stat-value">5 m/s</p>
              <p class="stat-label">otra</p>
            </article>
          </div>
        </div>
        <div class="card weather-card">
          <h1>Ciudad destino: </h1>
          <h2 class="temperature">23°C</h2>
          <div class="weather-info">
            <img
              class="weather-icon"
              src="https://img.icons8.com/3d-fluency/94/storm.png"
              alt="Weather Icon"
            />
            <p class="weather-description">STORMY</p>
          </div>
          <div class="stats">
            <article class="stat">
              <img class="stat-icon" src="{{ url_for('static', filename='svg/humedad.svg') }}" alt="IMG-Humedad" />
              <p class="stat-value">80%</p>
              <p class="stat-label">Humedad</p>
            </article>
            <article class="stat">
              <img class="stat-icon" src="{{ url_for('static', filename='svg/viento.svg') }}" alt="IMG-Viento" />
              <p class="stat-value">5 m/s</p>
              <p class="stat-label">
                Velocidad <br />
                de viento
              </p>
            </article>
            <article class="stat">
              <p class="stat-value">5 m/s</p>
              <p class="stat-label">otra</p>
            </article>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
