@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

html {
    scroll-behavior: smooth;
}

body {
    color: whitesmoke;
    margin: 0;
    font-family: "Roboto", sans-serif;
    background-color: rgba(0, 0, 0, 0.9);
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    position: relative;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(stars.png);
    background-size: cover;
    background-position: center;
    height: 100%;
    opacity: 0.3;
    z-index: -1;
}

.earth {
    position: absolute;
    height: 400px;
    top: -100px;
    left: -100px;
    z-index: -1;
}

header h1 {
    font-size: 50px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    color: rgb(255, 255, 255);
    align-items: center;
    align-content: center;
    text-align: center;
}

.container h1 {
    margin-top: 30px;
    font-size: xx-large;
}

.info {
    width: 90%;
    font-size: medium;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.input {
    display: flex;
    flex-direction: row;
    font-size: larger;
}

.input button {
    background: none;
    border: none;
}

.input input {
    margin-left: 20px;
    width: 300px;
    height: 30px;
    border-radius: 10px;
}

#menu {
    color: whitesmoke;
    border: none;
    font-size: large;
    background: none;
    padding: 10px;
}

.option {
    background-color: rgba(0, 0, 0, 0.8);
}

.information {
    display: flex;
    padding: 30px;
}

.cards {
    display: flex;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    min-height: calc(100vh - 60px);
}

.card {
    transition: box-shadow 0.3s ease;
    padding: 32px;
    margin-right: 30px;
    border-radius: 16px;
    width: max-content;
}

.card:hover {
    box-shadow: 0 0.1rem 1rem rgba(255, 255, 255, 0.3);
}

.title {
    font-size: 24px;
    font-weight: bold;
    color: whitesmoke;
}

.description {
    margin-top: 16px;
    color: #1e40af;
}

.weather-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 570px;
    width: 300px;
    margin-bottom: 60px;
}

.temperature {
    font-size: 56px;
    font-weight: bold;
    color: whitesmoke;
    text-align: center;
}

.weather-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.weather-icon {
    max-width: 100%;
    width: 250px;
}

.weather-description {
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.stats {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 16px;
}

.stat {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.stat-icon {
    width: 28px;
}

.stat-value {
    font-size: 16px;
    color: whitesmoke;
}

.stat-label {
    text-align: center;
}

.error {
    color: red;
    font-size: 20px;
}

.custom-link {
    color: rgb(217, 223, 217);
}

.link-size {
    font-size: 16px;
}

.see_more {
    display: flex;
    flex-direction: column;
    height: 75%;
    width: 40%;
    justify-content: center;
    transition: box-shadow 0.3s ease;
    border-radius: 20px;
    margin-bottom: 50px;
}

.see_more:hover {
    box-shadow: 0 0.1rem 1rem rgba(255, 255, 255, 0.3);
}

.row {
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 5px;
    margin-bottom: 0px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    align-items: center;
    justify-content: center;
}

.row p {
    margin-right: 30px;
}

.see_more img {
    height: 40px;
    width: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15px;
}

.weather-card button {
    font-size: medium;
    margin-top: 20px;
    margin-bottom: 20px;
    size: 40px;
    border: none;
    background: none;
    color: #87ceeb;
}

.weather-card button:hover {
    cursor: pointer;
}

.see_more_both {
    display: flex;
    flex-direction: row;
    margin: 50px;
}

.see_more_both .see_more {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}

footer {
    background-color: rgba(0, 0, 0, 0.3);
    position: static;
    bottom: 0;
    width: 100%;
    height: 80px;
    margin-top: 100px;
}

footer p {
    font-size: 20px;
    float: right;
    margin-right: 60px;
    padding-top: 10px;
}

footer a {
    text-decoration: none;
    color: #007bff;
}

footer a:hover {
    text-decoration: underline;
}
