body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, #1e3a8a, #2563eb, #60a5fa);
  display: flex;
  align-items: center; 
  justify-content: center;
  min-height: 100vh;
}

.text_box {
  color: rgb(218, 218, 233);
  text-align: center;
  width: 300px;
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.information {
  display: flex;
  padding: 30px;
}

.cards {
  display: flex;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column; 
  gap: 16px;
}

.card {
  background: rgba(255, 255, 255, 0.2);
  padding: 32px;
  margin-right: 30px;
  border-radius: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  border-top: 1px solid #bfdbfe;
  border-bottom: 1px solid #bfdbfe;
}

.title {
  font-size: 24px;
  font-weight: bold;
  color: #232bc8;
}

.description {
  margin-top: 16px;
  color: #1e40af;
}

.weather-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 550px;
  width: 300px;
}

.temperature {
  font-size: 56px;
  font-weight: bold;
  color: #1e3a8a;
  text-align: center;
}

.weather-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.weather-icon {
  max-width: 100%;
  width: 94px;
}

.weather-description {
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.stats {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 16px;
}

.stat {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.stat-icon {
  width: 28px; /* Adjust size as needed */
}

.stat-value {
  font-size: 16px;
  color: #1e40af;
}

.stat-label {
  text-align: center;
}
