{% extends "index.html" %} {% block content %}
<script src="static/js/show_more.js" defer></script>
<h1>Estás buscando por código IATA</h1>
<div class="info card">
    <form id="template" method="POST" action="/">
        <select name="option" id="menu" onchange="this.form.submit()">
            <option class="option">Seleccione</option>
            <option value="city" class="option">Nombre de la ciudad</option>
            <option value="iata_code" class="option">Código IATA</option>
            <option value="flight_number" class="option">
                Número de vuelo
            </option>
        </select>
    </form>

    <form class="input" method="POST" action="/">
        <div id="IATA_codeInput" class="content">
            <label for="iata_code"></label>
            <input
                type="text"
                id="iata_code"
                name="iata_code"
                placeholder="Ej. MEX"
                autocomplete="off"
                maxlength="5"
                autofocus
            />
        </div>
        <button type="submit"></button>
    </form>
</div>

<div class="error">
    {% if error %}
    <p>{{ error }}</p>
    {% endif %}
</div>

{% if departure_weather %}
<div class="card weather-card" id="departure_card">
    <h2 class="city-name">Destino: {{ departure_weather['name'] }}</h2>
    <h1 class="temperature">{{ departure_weather['main']['temp'] }}°C</h1>
    <div class="weather-info">
        <img
            class="weather-icon"
            src="{{ departure_weather['weather'][0]['icon'] }}"
            alt="Weather icon"
        />
        <p class="weather-description">
            {{ departure_weather['weather'][0]['description'] | capitalize }}
        </p>
    </div>
    <div class="stats">
        <article class="stat">
            <img
                class="stat-icon"
                src="{{ url_for('static', filename='svg/humedad.svg') }}"
                alt="IMG-Humedad"
            />
            <p class="stat-value">
                {{ departure_weather['main']['humidity'] }}%
            </p>
            <p class="stat-label">Humedad</p>
        </article>
        <article class="stat">
            <img
                class="stat-icon"
                src="{{ url_for('static', filename='svg/viento.svg') }}"
                alt="IMG-Viento"
            />
            <p class="stat-value">
                {{ departure_weather['wind']['speed'] }} m/s
            </p>
            <p class="stat-label">Velocidad de viento</p>
        </article>
    </div>
    <button
        id="see_more_button"
        type="submit"
        onclick="location.href='#see_more'"
    >
        Ver más detalles
    </button>
</div>

<section id="see_more" class="see_more" style="display: none">
    <div class="row">
        <p>Latitud:</p>
        <img src="{{ url_for('static', filename='svg/coords.svg') }}" />
        <p>{{ departure_weather['coord']['lon'] }}</p>
    </div>
    <div class="row">
        <p>Longitud:</p>
        <img src="{{ url_for('static', filename='svg/coords.svg') }}" />
        <p>{{ departure_weather['coord']['lat'] }}</p>
    </div>
    <div class="row">
        <p>Temperatura mínima:</p>
        <img src="{{ url_for('static', filename='svg/min.svg') }}" />
        <p>{{ departure_weather['main']['temp_min']}}°C</p>
    </div>
    <div class="row">
        <p>Temperatura máxima:</p>
        <img src="{{ url_for('static', filename='svg/max.svg') }}" />
        <p>{{ departure_weather['main']['temp_max'] }}°C</p>
    </div>
    <div class="row">
        <p>Presión a nivel del mar:</p>
        <img src="{{ url_for('static', filename='svg/pressure.svg') }}" />
        <p>{{ departure_weather['main']['pressure']}} hPa</p>
    </div>
    <div class="row">
        <p>Presión al nivel del suelo:</p>
        <img src="{{ url_for('static', filename='svg/pressure.svg') }}" />
        <p>{{ departure_weather['main']['grnd_level'] }} hPa</p>
    </div>
    <div class="row">
        <p>Visibilidad:</p>
        <img src="{{ url_for('static', filename='svg/visibility.svg') }}" />
        <p>{{ departure_weather['visibility'] }} m</p>
    </div>
    <div class="row">
        <p>Zona horaria:</p>
        <img src="{{ url_for('static', filename='svg/timezone.svg') }}" />
        <p>{{ departure_weather['timezone'] }} UTC</p>
    </div>
</section>

{% endif %} {% endblock %}
